@font-face { font-family: Squada; src: url('SquadaOne-Regular.otf'); }
* {
    font-family: Squada; /*makes all text Squada font*/
    color: rgba(255,255,255,1);
}
body {
    background-color:#131313;
}

div > form {
    background-color: rgb(37, 37, 37);
}

ol li {
    color: rgb(33, 167, 127);
}

h3 + p {
    text-indent: 5%;
}

h2 ~ h3 {
    text-decoration: underline;
}
